backend/temp/
backend/.venv/
frontend/node_modules/
frontend/.next/
*.pyc
__pycache__/
.env
.DS_Store
*.json
!test/*.json
*.token
!test/*.token
*.mp4
*.avi
*.mkv
*.gz
*.zip
*.exe
.*.swp
vendor
/youtubeuploader/youtubeuploader
dist/

